.root{
      margin: 1px;
      padding: 15px;
      padding-bottom: 5px;
      display: 'flex';
      flex-wrap:'wrap';
      justify-content: 'center',
  }

  .paper{
    align-content: flex-end;

  }

  .form{
    padding: 20px;
  }

  .fileInput{
    width: '97%';
    margin: '10px'
  }

  .buttonSubmit {
    align-content: center;
    margin-bottom: 10;
  }